@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Quicksand", serif;
    display: flex;
    background-image: linear-gradient(to bottom right, #740938 40%, #AF1740 60%);
  }
  
  /* Navbar styling */
  #navbar {
    color: white;
    width: 200px;
    padding: 20px 5px;
    position: sticky;
    top: 0;
    height: 100vh;
    border: 0px solid transparent;
    background-image: linear-gradient(#1E201E, #3C3D37);
  }
  
  #navbar header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 1px 1px 3px #001F3F;
  }
  
  .nav-link {
    color: antiquewhite;
    text-decoration: none;
    display: block;
    margin: 0.5rem 0;
    padding-left: 10px;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: #001F3F;
    background-color: antiquewhite;
  }
  
  /* Main content styling */
  #main-doc {
    padding: 20px;
    flex-grow: 1;
  }
  
  .main-section {
    margin-bottom: 2rem;
  }
  
  .main-section header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
 
  .first-word {
    font-style: italic;
    font-weight: 700;
  }

  .small-head {
    text-decoration: underline;
  }

  header {
    color: aliceblue;
    text-shadow: 1px 1px 5px #3C3D37;
  }

  p {
    color: black;
    text-shadow: 1px 1px 2px black;
  }

  a {
    width: 150px;
    padding: 10px 5px;
  }

  code {
    background-color: #e0e0e0;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    display: block;
    margin: 0.5rem 0;
  }
  
  ul {
    margin-top: 0.5rem;
    padding-left: 20px;
    color: gray;
    text-shadow: 1px 1px 4px black;
  }
  
  ul li {
    list-style-type: disc;
    margin: 0.5rem 0;
  }
  
  /* Media Query for responsive design */
  @media (max-width: 768px) {
    #navbar {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    body {
      flex-direction: column;
    }

    #navbar header {
        text-align: center;
    }
  }


  